*{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --pr-color:#ff42a5;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100% vw;
    height:80px;
    padding: 0 150px;
    margin-top: 0;
    align-items: center;

}
.nav-logo{
    display: flex;
    align-items: center;
}
.logo{
    width: 55px;
    height:25px;
    padding-right:10px;
}

.colored{
    color:var(--pr-color);
}
.nav-logo h3{
    font-size: 20pt;
}
.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 10pt;
    color: black;
    font-weight: 500;
}
.follow-us{
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    width: auto;
    height: auto;
    padding: 10px 15px;
}
.banner{
    display: flex;
    height: 600px;
    width: 100%;
}
.banner-section1{
    width:50%;
    background-image: url("../images/Group 14.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

}

.banner1{
    height: 500px;
}
.banner-section1 h3{
    font-size: 25pt;
    margin-bottom: 0;
    text-align: center;
}
.banner-section1 h1{
    font-size: 50pt;
    color: #F948B2;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
}
.banner-section1 li{
    list-style: none;
    margin-top: 0;
    font-weight: 500;
    color: #534C64;
    margin-bottom: 10px;
}
.btn1{
    width: auto;
    height: auto;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    background-color: var(--pr-color);
    color: white;
    font-weight: 700;
}
.btn2{
    width: auto;
    height: auto;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    background-color: #4EC5F7;
    color: white;
    font-weight: 700;
}
.video-section{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.video-section h3{
    font-size: 25pt;
    margin-bottom: 10px;
}
.video-section p{
    color: #534C64;
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}
.video-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 auto;
}
.video-container{
    width: 250px;
    margin-top: 20px;
}
.video-container p{
    text-align: left;
}
.image-container{
    width:250px;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}
.video-thumbnail{
    width:250px;
    height: 300px;
    opacity: 1;
}
.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.fa-circle-play{
    font-size:25pt;
    margin-bottom: 0;
    padding-top: 50px;
}
.overlay h6{
    margin-top: 10px;
    color: var(--pr-color);
    font-size: 11pt;
}
.overlay:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.ad-section{
    width: 100%;
    height: 600px;
    padding:50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    position: relative;
}
.ad-desc{
    width: 20vw;
    text-align: center;
    padding-left: 0;
    padding-right: 100px;
}
.ad-desc h3{
    width:18vw;
    font-size: 25pt;
    margin-bottom: 0;
    text-align: end;
}

.ad-desc p{
    font-size: 10pt;
    color: #534C64;
    text-align: right;
    width: 18vw;

}
.ad-image{
    position: relative;
}
.ad-img1{
    width:450px;
    padding-right: 100px;    
}
.ad-img2{
    width:240px;
    padding-top: 260px;
    right: 0;
    top:0;
    padding-right: 415px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.career-section{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin-top:0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pr-color);
}
.career-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    padding-left: 200px;
}
.career-desc h3{
    font-size: 30pt;
    color: white;
    margin: 0 0;
}
.career-desc p{
    margin-top: 10px;
    color: white;
    font-size: 10pt;
    width: 500px;
}
.career-desc ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0;
    row-gap:10px ;
    column-gap: 20px;
  }

  .career-desc ul li{
    list-style: none;
    font-size: 11pt;
    color: white;
    font-weight: 500;
  }

.career-img{
    width: 50vw;
}
.btn3{
    width: auto;
    height: auto;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: var(--pr-color);
    font-weight: 700;
    text-transform: uppercase;
}
.category-section{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 0px;
    padding-bottom: 100px;
}
.category-option{
    background-color: white;
    display: flex;
    border: none;
    border-radius: 100px;
    width: auto;
    height: 70px;
    padding: 10px 30px;
    justify-content: center;
}
.category-icon{
    padding-right: 10px;
    width: 50px;
    padding-left: 0;
}
.category-option h3{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    text-align: center;
    padding: 0 auto;
}
.category-option:hover{
    border: 2px solid #ff42a5;
    color: #ff42a5;
}
.footer-section{
    background: #0B0223;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo h3{
    margin: 0;
    font-size: 30pt;
}
.footer-category ul{
    display: flex;
    column-gap: 40px;
    padding-bottom: 20px;
}
.footer-category ul li{
    list-style: none;
    font-size: 10pt;
    font-weight: 500;
    padding-top: 20px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon li{
    list-style: none;
    width: 70px;
}
.fa-brands{
    font-size: 30pt;
}
.footer-options{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    column-gap: 40px;
}
.footer-options li{
    list-style: none;
    font-size: 8pt;
    color: rgba(255, 255, 255, 0.60);
}
.footer-section p{
    font-size: 8pt;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.60);
}